// MEDIA QUERY MANAGER
/*
0 - 370px:      Phone-small
370 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1100px:    Tablet portrait large
1100 - 1220px:   Tablet landscape
[1220 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone-small
- phone
- tab-port
- tab-port-large
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone-small {
    @media only screen and (max-width: 23.125em) { @content };    //370px
  }

  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) { @content };    //600px
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) { @content };     //900px
  }

  @if $breakpoint == tab-port-large {
    @media only screen and (max-width: 68.75em) { @content };     //1100px
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 76.25em) { @content };    //1220px
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) { @content };    //1800px
  }
}
