// COLORS
$color-primary: #fcdb00;
$color-secondary: #118aca;

$color-heading-chart: #035a27;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #ccc;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #1d1d1d;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;
