body {
  line-height: 1.5;
  color: $color-black;
  font-weight: 400;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "source-code-pro", Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navigation__list--item {
  font-size: 2.3rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.primary-heading {
  font-size: 3.1rem;
  letter-spacing: 1px;

  &.main {
    text-align: center;
  }

  &.footer {
    color: $color-primary;
  }
}

.tertiary-heading {
  font-size: 1.8rem;
  font-weight: 400;
}

.paragraph {
  font-size: $default-font-size;
  font-weight: 300;
  max-width: 60rem;

  &.main {
    text-align: center;
    max-width: none;
    font-size: 1.2rem;
  }

  &.footer {
    font-size: 1.4rem;
    text-align: center;

    &.address {
      font-size: 1.2rem;
      text-align: start;
    }
  }
}

#footer {
  color: $color-grey-light-1;
}

.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    font-size: $default-font-size;
    font-weight: 700;
  }

  &--golden {
    color: $color-black;
  }
}
