#footer {
  background-color: $color-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 8rem;

  & > *:not(:last-child) {
    padding-bottom: 4rem;
  }
}

.paragraph.footer {
  max-width: 90rem;
}

.container-submit {
  width: 60rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-social-media {
  display: flex;
  fill: $color-primary;

  svg {
    width: 4.5rem;
    height: 4.5rem;
  }

  & > div:not(:last-child) {
    margin-right: 4rem;
  }
}

input[type="email"] {
  width: 40rem;
  margin-right: 2rem;
  padding: 0.9rem 1rem;
  border-radius: 0.5rem;
}

.address__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90rem;
}
