#header {
  background-color: $color-primary;
  padding-left: 8rem;
  padding-right: 8rem;
}

.navigation {
  // background-color: purple;
  display: grid;
  grid-template-columns: 3fr 2fr;
  height: 20%;
  padding-top: 4rem;
  padding-bottom: 4rem;

  &__logo {
    // background-color: sienna;
    display: flex;
    align-items: center;

    &--image {
      // background-color: steelblue;
      width: 7.6rem;
      height: 4.8rem;
      background-image: url("../../assets/images/logo-dark.png");
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;
    }
  }

  &__list {
    // background-color: royalblue;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &--item {
      // background-color: slategray;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      cursor: pointer;
    }
  }

  &__content {
    // background-color: teal;
    height: 80%;
    display: grid;
    grid-template-columns: 3fr 2fr;

    &--left {
      // background-color: violet;
      display: grid;
      grid-template-rows: 80% 1fr;

      .box {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 4rem;

        .tertiary-heading {
          max-width: 30rem;
        }

        & > *:not(:last-child) {
          margin-bottom: 2rem;
        }

        .mobile-devices {
          display: flex;
          margin-top: 2rem;

          .icon:not(:last-child) {
            margin-right: 2rem;
          }
        }
      }

      .dots {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding-bottom: 6rem;
        padding-right: 6rem;

        .dot {
          height: 2rem;
          width: 2rem;
          margin: 0 0.6rem;
          background-color: #fef4b2;
          border-radius: 50%;
          display: inline-block;

          &.active {
            background-color: $color-white;
          }
        }
      }
    }

    &--right {
      // background-color: tomato;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
