#main {
  background-color: $color-grey-light-1;
  padding: 8rem 20rem;

  & > *:not(:last-child) {
    margin-bottom: 3.5rem;
  }
}

.book__list {
  // background-color: tomato;
  display: grid;
  justify-items: center;
  grid-gap: 3rem 0;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
