.btn {
  &,
  &:link,
  &:visited {
    position: relative;
    display: inline-block;
    padding: 0.5rem 3rem;
    border-radius: 0.5rem;
    transition-property: transform, box-shadow, opacity, outline;
    transition-duration: 0.2s;
    transition-timing-function: ease;

    //Change for the <button> element
    border: none;
    cursor: pointer;
  }

  @media only screen and (hover: hover), only screen and (pointer: fine) {
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba($color-primary, 0.2);

      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-primary, 0.2);
  }

  &--golden {
    background-color: $color-primary;

    &::after {
      background-color: $color-primary;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
}
